$color-background1: rgb(46, 46, 46);
$color-background2: rgb(26, 26, 26);

$color-text: rgb(216, 216, 216);
$color-button: firebrick;

$font-primary: 'Avenir Next Cyr', 'Avenir Next', Avenir, 'Helvetica', sans-serif;

$content-width: 100%;
$tablet-max-width: 1023px;
$mobile-max-width: 767px;
